# Created by https://www.gitignore.io/api/dotnetcore
# Edit at https://www.gitignore.io/?templates=dotnetcore

### DotnetCore ###
# .NET Core build folders
/.vs
/src/aws.lambda.core/bin
/src/aws.lambda.core/obj
/test/aws.lambda.core.Tests/bin
/test/aws.lambda.core.Tests/obj


# Additonal files and folders
/deploy.txt

# End of https://www.gitignore.io/api/dotnetcore